.login {
  height: 400px;
  width: 400px;
  padding: 20px;
  border: 1px solid black
}
.loginTitle {
  font-size: 20px;
  font-weight: bold;
}
.loginInput {
  display:block;
  margin-top: 20px;
  border-radius: 20px;
}
.loginBtn {
  display:block;
  margin-top: 100px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}